.aboutMe {
  transform: translateY(50px);
  transition: transform 0.5s ease-out;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20vh;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .imageSection {
    width: 100%;
    height: auto;
    position: relative;
    flex: 1;

    .image {
      background-color: purple;
      width: 600px;
      height: 360px;
      object-fit: cover;
      border-radius: 12px;
    }

    .badge {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 250px;
      bottom: 70px;
    }
    
    .badgeText {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      width: 220px;
      height: 220px;
      border-radius: 50%;
      animation: rotateCircle 6s infinite linear;
      transform-origin: center;
      background: black;
      border: 1px solid rgba(128, 0, 128, 0.543);
      span {
        position: absolute;
        display: inline-block;
        transform-origin: center center;
        animation-delay: calc(var(--i) * 0.1s);
        transform: rotate(calc(var(--i) * 14deg)) translateY(-90px);
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 5px;
      }
    }
    
    @keyframes rotateCircle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .emoji {
      font-size: 2.5rem;
      z-index: 1;
      color: white;
    }
  }

  .textSection {
    flex: 1;

    .title {
      font-size: 30px;
      letter-spacing: 2px;
      color: #0561cb;
      margin-bottom: 1rem;
    }

    .subtitle {
      font-size: 30px;
      margin-bottom: 1rem;

      span {
        font-size: 24px;
      }
    }

    .description {
      font-size: 19px;
      line-height: 1.6;
      padding: 10px 0;
    }
  }
}
@media(max-width:1020px){
.content{
align-items: center;
  justify-content: center;
  flex-direction: column;




  .imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
  

  .badge {
    position:absolute;
    right: -160px;
    bottom: 10px;
  }
  
}
.textSection{
  .description{
    width: 600px;
  }
}
}
}